@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 75% 95%;
    --foreground: 15 67% 14%;

    --muted: 43 77% 88%;
    --muted-foreground: 29 77% 40%;

    --popover: 43 75% 95%;
    --popover-foreground: 15 67% 14%;

    --border: 41 78% 77%;
    --input: 41 78% 77%;

    --card: 43 75% 95%;
    --card-foreground: 15 67% 14%;

    --primary: 15 67% 14%;
    --primary-foreground: 210 40% 98%;

    --secondary: 43 77% 88%;
    --secondary-foreground: 15 67% 14%;

    --accent: 43 77% 88%;
    --accent-foreground: 15 67% 14%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 24 74% 33%;

    --app-primary: 36 77% 53%;
    --app-primary-foreground: 43 75% 95%;
    --app-secondary: 29 77% 40%;
    --app-accent: 20 65% 29%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --top-bar-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background: 15 67% 14%;
    --foreground: 43 75% 95%;

    --muted: 29 77% 40%;
    --muted-foreground: 43 77% 88%;

    --accent: 20 65% 29%;
    --accent-foreground: 43 75% 95%;

    --popover: 18 57% 26%;
    --popover-foreground: 24 74% 33%;

    --border: 20 65% 29%;
    --input: 20 65% 29%;

    --card: 18 57% 26%;
    --card-foreground: 43 75% 95%;

    --primary-foreground: 15 67% 14%;
    --primary: 43 77% 88%;

    --secondary: 15 67% 14%;
    --secondary-foreground: 43 77% 88%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 20 65% 29%;

    --app-primary: 20 65% 29%;
    --app-primary-foreground: 43 77% 88%;
    --app-secondary: 29 77% 40%;
    --app-accent: 20 65% 29%;

    --radius: 0.5rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
